@{
    ViewData["Title"] = "Home Page";
    ViewData["Name"] = "Dmitry Kalinovskyi";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <ol type="i" style="text-align:left;">
        <li>MVC App</li>
        <li>Enter name</li>
        <li>Output Hello, @ViewData["Name"]!</li>
    </ol>
</div>
