@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    @using(Html.BeginForm("Entered", "Home", FormMethod.Post)){
        <h1 class="display-4">Enter your name: </h1>
        @Html.TextBox("Name");

        <button type="submit">Send name</button>
    }
</div>
